---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

import { SITE_TITLE, SITE_DESCRIPTION, wedding } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;600&family=Pattaya&display=swap" />
	</head>
	<body>
		<Header />
		<main id="main">
			<section class="locations-section">
				<h2>สถานที่ & แผนที่นำทาง</h2>
				<div class="location-container">
					<div class="location" style="filter: grayscale(100%);">
						<div a-href="https://goo.gl/maps/2wrJwHqcx2UDrYVb6" a-target="_blank">
							<div class="location-text" style="color: #b9b9b9;">
								<h3>งานพิธี</h3>
								<img src="images/cultures.svg" alt="Ceremony" />
								<div>{wedding.time1.format('D MMMM YYYY')}</div>
								<div>148 หมู่ 4 ต.วังคีรี อ.ห้วยยอด จ.ตรัง</div>
								<small>(กดเพื่อดูแผนที่)</small>
							</div>
						</div>
					</div>
					<div class="location" style="filter: grayscale(100%);">
						<div a-href="https://goo.gl/maps/eYxUpWDrWnShij15A" a-target="_blank">
							<div class="location-text" style="color: #b9b9b9;">
								<h3>งานเลี้ยง</h3>
								<img src="images/champagne.svg" alt="Party" />
								<div>{wedding.time2.format('D MMMM YYYY')}</div>
								<div>5 หมู่ 5 ต.ปากตะโก อ.ทุ่งตะโก จ.ชุมพร</div>
								<small>(กดเพื่อดูแผนที่)</small>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="program">
				<h2>กำหนดการ</h2>
				<div class="program-wrapper">
					<h3 style="color: #717171;">{wedding.time1.format('D MMMM YYYY')}</h3>
					<ul style="color: #717171;">
						<li>09.00 - พิธีแห่ขันหมาก</li>
						<li>10.00 - พิธีหมั้น</li>
						<li>10.30 - พิธีรดน้ำสังข์</li>
						<li>14:30 - งานเลี้ยงฉลองมงคลสมรส</li>
					</ul>
					<h3 style="color: #717171;">{wedding.time2.format('D MMMM YYYY')}</h3>
					<ul style="color: #717171;">
						<li>08.00 - งานเลี้ยงมงคลสมรส (โต๊ะไทยสำเร็จ)</li>
					</ul>
				</div>
			</section>
			<section class="faq">
				<h2>คำถาม & คำตอบ</h2>
				<div class="question-group-container">
					<div class="question-group">
						<h3>การเดินทางและที่พัก</h3>
						<p class="question">ฉันจะไปที่นั่นได้อย่างไร?</p>
						<p class="answer">คุณสามารถเดินทางรถยนต์</p>
						<p class="question">ฉันสามารถจอดรถได้ที่ไหน?</p>
						<p class="answer">มีที่จอดรถได้แน่นอน</p>
						<p class="question">ฉันสามารถจองที่พักสำหรับคืนนึงได้หรือไม่?</p>
						<p class="answer">ขออภัยที่เราไม่มีที่พักให้ แต่ถ้าหากคุณไม่สามารถหาที่พักเองได้ โปรดแจ้งเรา เราจะหาที่พักให้คุณเอง</p>
					</div>
					<div class="question-group">
						<h3>การเฉลิมฉลองและอาหาร</h3>
						<p class="question">ฉันสามารถนำของขวัญสำหรับคู่บ่าวสาวได้หรือไม่?
						</p>
						<p class="answer">เรายินดีสนับสนุนทุกรูปแบบ!</p>
						<p class="question">จะใส่ชุดอะไรดี มีระเบียบการแต่งตัวไหม?</p>
						<p class="answer">แต่งกายเรียบร้อยแต่สบายตัว</p>
					</div>
					<div class="question-group">
						<h3>สิ่งเล็กน้อยอื่น ๆ</h3>
						<p class="question">ถ่ายรูปลงเฟสบุ๊คได้ไหม?</p>
						<p class="answer">แน่นอน และรบกวนใส่ hashtag <code>#KK3rdStory</code></p>
					</div>
				</div>
			</section>
			<section class="contact">
				<h2>ติดต่อ</h2>
				<p>หากคุณมีคำถามใด ๆ โปรดติดต่อเรา</p>
				<!-- Add to Calendar Button code -->
				<!-- <div title="Add to Calendar" class="addeventatc">
					<span class="calendar-text">เพิ่มนัดงานพิธีในปฏิทิน</span>
					<span class="start">04-03-2023 09:09</span>
					<span class="end">04-03-2023 18:00</span>
					<span class="timezone">Asia/Bangkok</span>
					<span class="title">งานแต่งงาน - {SITE_TITLE}</span>
					<span class="description">งานแต่งงานของ {SITE_TITLE}</span>
					<span class="location">148 หมู่ 4 ต.วังคีรี อ.ห้วยยอด จ.ตรัง</span>
				</div> -->
				<div title="Add to Calendar" class="addeventatc">
					<span class="calendar-text">เพิ่มนัดงานเลี้ยงในปฏิทิน</span>
					<span class="start">25-03-2023 08:00</span>
					<span class="end">25-03-2023 12:00</span>
					<span class="timezone">Asia/Bangkok</span>
					<span class="title">งานแต่งงาน - {SITE_TITLE}</span>
					<span class="description">งานแต่งงานของ {SITE_TITLE}</span>
					<span class="location">5 หมู่ 5 ต.ปากตะโก อ.ทุ่งตะโก จ.ชุมพร</span>
				</div>
			</section>
		</main>
		<Footer />
		<script>
			// Lightbox script
			const lightbox = document.createElement('div')
			lightbox.id = 'lightbox'
			document.body.appendChild(lightbox)

			// Close lightbox only when clicked outside of img
			lightbox.addEventListener('click', (e) => {
				if (e.target !== e.currentTarget) return
				lightbox.classList.remove('active')
			});
		</script>
	</body>
</html>
